body{
	background-image: url(https://hdwallsource.com/img/2014/9/stunning-blurry-wallpaper-35119-35923-hd-wallpapers.jpg);
	background-position: center;
	background-size: cover;
	height: 50%;
	width:100%;
}

.main{
	margin-left: 50%;
	margin-top: 300px;
}
p{
	font-size: 3em;
	font-weight: bold;
	transition: 1s;
	color: #1a93cc;
}
p:hover{
	transform: scale(1.1);
}

#mc_embed_signup_scroll{
	width: 100px;
}